:root {
    --blue:#0067b8;
    --white: #fff;
    --black: #000;
    --light-black: #171717;
}

/* Global */

/*Header*/

/*Nav*/

/*Searsh bar*/

.searsh-bar input.active {
    border: 1px solid black;
    border-right: 0;
    width: calc(100% - 100px);
    display: block !important;
    padding: 3px;
}

.searsh-bar .icon.active {
    width: 28px !important;
    border: 1px solid black;
    border-bottom: 0;
    padding: 15px;
}

.searsh-bar input:active,
.searsh-bar input:focus {
    outline: none;
}

.rhs.active {
    width: calc(100% - 100px)
}

/*Searsh bar end*/

nav {
    background-color: var(--white);
    height: 54px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav .container .lhs {
    display: flex;
    align-items: center;
}

nav .container .lhs ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav .container .lhs ul li a {
    color: var(--black);
    text-decoration: none;
    padding: 16px 8px 10px;
    font-size: 13px;
    position: relative;
}

nav .container .lhs ul li a::after {
    content: "";
    width: calc(100% - 16px);
    height: 2px;
    background-color: var(--black);
    position: absolute;
    bottom: 5px;
    left: 8px;
    display: none;
}

nav .rhs .drop-down::after {
    content: "";
    width: calc(100% - 16px);
    height: 2px;
    background-color: var(--black);
    position: absolute;
    bottom: 12px;
    left: 8px;
    display: none;
}

nav .container .lhs ul li a:hover::after,
nav .rhs .drop-down:hover::after {
    display: block;
}

nav .container .lhs ul li a:focus {
    border: 1px dashed #171717;
}

nav .logo {
    width: 110px;
    display: flex;
    height: 100%;
}

nav .rhs {
    display: flex;
    height: 100%;
    align-items: center;
}

nav .rhs .drop-down {
    font-size: 13px;
    position: relative;
    padding: 16px 8px 10px;
    height: 100%;
}

nav .rhs .drop-down span svg{
    width: 9px;
}

nav .rhs .profile {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .rhs .profile svg {
    height: 32px;
    width: 32px;

}

nav .rhs .searsh-bar .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(112, 112, 112);
}

nav .rhs .searsh-bar .icon {
    transform: rotate(90deg);
}


nav .rhs .icon:active,
nav .rhs .icon:focus,
nav .rhs .profile:active,
nav .rhs .profile:focus {
    border: 1px dashed #171717;
}

nav .rhs .drop-down:active,
nav .rhs .drop-down:focus {
    border: 1px dashed #171717;
    border-bottom: none;
}

.searsh-bar {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 8px;
}

.searsh-bar .cancel {
    background-color: white;
    padding: 7px 15px;
    font-size: 11px;
    margin-left: 12px;
    border: 1px solid var(--black);
}

/*Nav end*/

/* slider */

header .swiper {
    height: calc(100vh - 54px);
    overflow: hidden;
}

header .swiper-wrapper {
    height: 100%;
    width: 400%;
    position: relative;
    display: flex;
    transform: translateX(0);
}

header .swiper-slide:first-child {
    background-image: url(../img/Highlight-M365.avif);
}

header .swiper-slide:nth-child(2) {
    background-image: url(../img/Highlight-Multi.jpg);
}

header .swiper-slide:nth-child(3) {
    background-image: url(../img/Highlight-M365.avif);
}

header .swiper-slide:last-child {
    background-image: url(../img/Highlight-Multi.jpg);
}

header .swiper-slide:last-child,
header .swiper-slide:nth-child(3),
header .swiper-slide:nth-child(2),
header .swiper-slide:first-child {
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



header .swiper-slide .container {
    display: flex;
    align-items: center;
    height: 100%;
}

header .swiper-slide .container .main {
    width: 400px;
    transition: 0.3s;
}

header .swiper-slide .container .main button {
    background-color: var(--blue);
    color: white;
    border: none;
    margin: 8px 0;
    border-radius: 2px;
    font-weight: 600;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0,0,0,.13), 0 0.0625rem 0.125rem 0 rgba(0,0,0,.11);
    padding: 5px
}

header .swiper-slide .container .main button span {
    display: block;
    padding: 4px 6px;
}


header .swiper-slide .container .main button:hover {
    background-color: #025392;
}

header .swiper-slide .container .main button:active > span,
header .swiper-slide .container .main button:focus > span {
    outline: 3px dotted var(--white);
}

header .swiper-slide .container .main .button-con {
    display: flex;
    width: 315px;
    align-items: center;
    justify-content: space-between;
}

header .swiper-slide .container .main .button-con div {
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 185px;
    justify-content: space-between;
    margin-left: 10px;
    padding: 10px;
}
header .swiper-slide .container .main .button-con div:active,
header .swiper-slide .container .main .button-con div:focus {
    outline: 3px dotted var(--light-black)
}


header .swiper-slide .container .main .button-con div:hover {
    text-decoration: underline;
}

header .swiper-slide .container .main .button-con div span {
    transition: 0.3s;
}

header .swiper-slide .container .main .button-con div:hover > span {
    transform: translateX(5px);
}

header .swiper-slide .container .main .text h1 {
    font-size: 29px;
}

header .swiper-slide:last-child .container .main,
header .swiper-slide:nth-child(2) .container .main {
    color: var(--white);
}

header .swiper-slide:first .container .main,
header .swiper-slide:nth-child(3) .container .main {
    color: var(--light-black);
}

header .swiper-slide:nth-child(3) .container .main .text,
header .swiper-slide:first-child .container .main .text {
    width: 335px;
}

header .tools-con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

header .tools-con .swiper-button-prev,
header .tools-con .swiper-button-next {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .tools-con .swiper-button-prev:active,
header .tools-con .swiper-button-next:active,
header .tools-con .swiper-button-prev:focus,
header .tools-con .swiper-button-next:focus {
    border: 3px dotted var(--black);
}

header .tools-con .swiper-button-prev svg, 
header .tools-con .swiper-button-next svg {
    width: 18px;
    height: 18px;
    transition: 0.2s;
}

header .tools-con .swiper-pagination {
    display: flex;
    width: 100px;
    justify-content: space-around;
}

header .tools-con .swiper-button-prev:hover > svg {
    transform: translateX(-8px);
}
header .tools-con .swiper-button-next:hover > svg {
    transform: translateX(8px);
}

header .tools-con .swiper-pagination span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--black);
    background-color: var(--white);
    display: block;
}

header .tools-con .swiper-pagination span.active {
    background-color: var(--black);
} 

header .pause-start-icon {
    display: flex;
    align-items: center;
    width: 44px;
    height: 44px;
    justify-content: center;
}

header .pause-start-icon svg {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 4px;
}

header .pause-start-icon svg:hover,
header .pause-start-icon svg:active,
header .pause-start-icon svg:focus {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
}

/*Header*/

/* main sec */

/* first-sub and third*/
.main-sec {
    margin-top: 100px;
}

.main-sec .img-box img {
    width: 100%;
}

.main-sec .first-subsec .col .text h3,
.main-sec .third-subsec .col .text h3 {
    font-size: 22px;
}

.main-sec .first-subsec .col .text p,
.main-sec .third-subsec .col .text p {
    font-size: 15px;
}

.main-sec .first-subsec .col .text,
.main-sec .third-subsec .col .text {
    padding-top: 16px;
}

.main-sec .first-subsec .col .link,
.main-sec .third-subsec .col .link {
    padding-top: 10px;
    color: var(--blue);
    font-weight: 600;
    font-size: 15px;
}

.main-sec .first-subsec .col .link span svg,
.main-sec .third-subsec .col .link span svg {
    width: 14px;
    height: 14px;
    transition: 0.3s;
}

.main-sec .first-subsec .col .link:hover > span svg,
.main-sec .third-subsec .col .link:hover > span svg {
    transform: translateX(8px);
}

.main-sec .first-subsec .col .link:hover,
.main-sec .third-subsec .col .link:hover {
    text-decoration: underline;
}
/* first-sub and third end */

/* second sub-sec */

.second-subsec {
    margin-top: 100px;
    position: relative;
}

.second-subsec img {
    position: absolute;
    border-radius: 2px ;
}

.second-subsec .img-con {
    height: calc(100vh - 100px);
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.second-subsec .img-con .text h3 {
    width: 280px;
    margin-bottom: 15px;
}

.second-subsec .img-con button {
    background-color: var(--blue);
    color: white;
    border: none;
    margin: 8px 0;
    border-radius: 2px;
    font-weight: 600;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0,0,0,.13), 0 0.0625rem 0.125rem 0 rgba(0,0,0,.11);
    padding: 10px
}

.second-subsec .img-con button:hover {
    background-color: #025392;
}

.second-subsec .img-con .text,
.second-subsec .img-con button {
    width: fit-content;
} 
/* second sub-sec end */

/* third-sec */
.third-subsec {
    margin-top: 100px;
    position: relative;
    height: calc(100vh - 100px);
}

.third-subsec .media {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.third-subsec .media ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 124px;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    justify-content: space-between;
}

.third-subsec .media ul li img {
    width: 32px;
    height: 32px;
}
/* third-sec end */

.back-to-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.back-to-top button {
    background-image: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.15));
    color: var(--black);
    width: fit-content;
    padding: 10px 12px;
    border: 0;
    transition: 0.3s;
}

.back-to-top button.active {
    position: fixed;
    bottom: 15px;
}

.back-to-top button span {
    margin-right: 7px;
}

.back-to-top button:hover {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.13), 0 0 0.0625rem 0 rgba(0,0,0,.11);
    background-color: var(--white);
    background-image: none;
}

/* main sec */

/* footer */

footer {
    background-color: #f2f2f2;
    margin-top: 48px;
    padding-top: 36px;
}

footer .container .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 35px;
}

footer .container .col ul li {
    color: #616161;
    font-size: 11px;
}

footer .container .col ul li:hover:not(li:first-child) {
    text-decoration: underline;
}

footer .container .col ul li:nth-child(1) {
    color: #616161;
    font-size: 15px;
    font-weight: 600;
}

footer .container .sub-footer {
    padding: 30px 0 16px 0;
    display: flex;
    justify-content: space-between;

}

footer .container .sub-footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

footer .container .sub-footer .lang {
    color: #616161;
    font-size: 11px;
    display: flex;
    align-items: center;
}

footer .container .sub-footer .lang span {
    font-size: 22px;
    margin-right: 8px;
}

footer .container .sub-footer ul li {
    padding: 0 20px;
    color: #616161;
    font-size: 11px;
}

footer .container .sub-footer ul li:hover:not(li:last-child) {
    text-decoration: underline;
}

/* footer end */


/* responsive */

@media (max-width: 762px) {
    .second-subsec {
        margin-top: 0px;
    }

    .second-subsec .img-con {
        padding: 0;
        height: calc(100vw + 100px) !important;
        justify-content: flex-end;
    }

    header .swiper-slide .container {
        box-shadow: 0 .125rem .25rem 0 rgba(0,0,0,.13),0 0 .0625rem 0 rgba(0,0,0,.11)!important;
        height: calc(100vw + 150px);
        align-items: flex-end;
        padding: 15px 10px;
    }
}

@media (max-width: 992px) {
        nav .lhs {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    nav .rhs {
        width: 100%;
        justify-content: space-between;
    }

    .rhs.active {
        width: 100%;
    }

    .searsh-bar {
        flex-direction: row-reverse;
    }

    .icon.active {
        border-top: 0 !important;
        border-bottom: 1px solid black !important;
    }

    input.active {
        border-left: 0 !important;
        border-right: 1px solid black !important;
        z-index: 1;
        width: calc(100% - 24px) !important;
    }

    .cancel {
        width: 24px;
        height: 30px;
        padding: 6px 0 8px !important;
        margin-right: 24px;
        margin-left: 0 !important;
        border: 0 !important;
    }

    .cancel span svg {
        font-size: 18px;
        color: #878787;
    }

    header .swiper-slide:first-child {
        background-image: url(../img/avifImg2.avif);
        height: calc(100vw - 76px)
    }
    
    header .swiper-slide:nth-child(2) {
        background-image: url(../img/avifimg.avif);
        height: calc(100vw - 76px)
    }
    
    header .swiper-slide:nth-child(3) {
        background-image: url(../img/avifImg2.avif);
        height: calc(100vw - 76px)
    }
    
    header .swiper-slide:last-child {
        background-image: url(../img/avifimg.avif);
        height: calc(100vw - 76px) !important;
    }
    
    header .swiper-slide .container {
        height: calc(100vw + 150px);
        position: relative;
        z-index: -1;
        align-items: flex-end;
        padding: 15px 10px;
    }

    header .swiper-slide .container .main {
        color: var(--black) !important;
    }
    
    header .swiper-slide .container .main h1 {
        font-size: 24px !important;
    }

    header .swiper {
        height: calc(100vw + 155px) !important;
    }

    header .swiper-slide .container .main .button-con div {
        color: var(--blue);
        font-weight: 600;
    }

    .main-sec {
        margin-top: 20px;
    }

    .second-subsec .img-con {
        height: 100%;
    }

    .third-subsec {
        height: 100%;
    }

    .third-subsec .media {
        position: static;
    }

    .back-to-top button {
        width: 100%;
    }

    .back-to-top {
        padding: 20px 10px
    }

    footer {
        padding: 20px;
        padding-top: 32px;
    }

    footer .sub-footer {
        flex-direction: column;
    }

    footer .container .sub-footer ul li {
        padding: 0;
        padding-right: 15px;
        line-height: 20px;
    }

    footer .container .sub-footer ul {
        margin-top: 15px;
    }
}

@media (min-width: 1200px) {
    
}

/* responsive end */